QLineEdit{
    color: white;
    border: 0px;
    background-color: #5ad368;
    font-size: 30px;
    font-family: 'Secular One';
    margin: 0px 450px;
}

QLabel{
    color: white;
    font-size: 30px;
    font-family: 'Secular One';
    margin: 0px;
}

QPushButton{
    color: white;
    border: 1.5px solid #fe4680;
    border-radius: 40px;
    font-size: 25px;
    font-family: 'Pacifico';
    margin: 10px 50px;
    padding: 20px;
}
QPushButton:hover{
    color: black;
    background-color: #fe4680;
}
