QLineEdit{
    color: rgb(226, 252, 255);
    border: 0px;
    font-size: 75px;
    font-family: 'Secular One';
    margin-left: 50px;
}

QLabel{
    color: rgb(226, 252, 255);
    font-size: 30px;
    font-family: 'Secular One';
    margin: 80px 150px;
}

QPushButton{
    color: rgb(226, 252, 255);
    border: 1.5px solid #ff256a;
    border-radius: 40px;
    font-size: 25px;
    font-family: 'Pacifico';
    margin: 10px 300px;
    padding: 20px;
}
QPushButton:hover{
    color: black;
    background-color: #ff256a;
}